<div class="full-screen-height">
    <%= render 'layouts/logo' %>
    <% if @meeting.status == 7 %>
        <div id="discussing-board">
    <% else %>
    <div id="discussing-board" style="display:none">
    <% end %>
        <% discussing_thought = @meeting.thoughts.select{|x| x.discussing == 1 || x.discussing == 2 }.first %>
        <div id="dicussing-card">
            <div id="discussing-status">
                <% if @meeting.users.first.id == session[:user_id] %>
                    <% if discussing_thought %>
                        <input type="hidden" id="d-thought-status" value="<%=discussing_thought.ttype%>"/>
                    <% else %>
                    <input type="hidden" id="d-thought-status"/>
                    <% end %>
                    <button id="discussing-status-toggle">
                        <% if discussing_thought %>
                            <% if discussing_thought.ttype == 2 %>P
                            <% else %>T
                            <% end %>
                        <% end %>
                    </button>
                <% else %>
                    <% if discussing_thought %>
                        <% if discussing_thought == 2 %>P
                        <% else %>T
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <div id="discussing-controller" class="content-center">
                <% if @meeting.users.first.id == session[:user_id] %>
                    
                    <button id="end-discuss-button" class="btn btn-danger">end</button>
                    <input type="text" class="form-control" id="discuss-time" />
                    <button id="start-discuss" class="btn btn-primary">start</button>
                    <input type='hidden' id="d-thought-id" <% if discussing_thought %>value="<%= discussing_thought.id %>"<% end %> />
                    <button id="thought-change-button" class="btn btn-success">Next</button>
                <% else %>
                    <input type="text" class="form-control" id="discuss-time" disabled/>
                <% end %>
            </div>
            <div id="discussing-thought-container" class="content-center">
                <div id="discussing-thought">
                    <div id="discussing-thought-content">
                        <%= discussing_thought && discussing_thought.content %>
                    </div>
                    <div id="discussing-thought-from">
                        <%= discussing_thought && discussing_thought.user.name %>
                    </div>
                </div>
            </div>
            <div id="discussing-operations" class="content-center">
                <% if discussing_thought && discussing_thought.discussing == 2 && discussing_thought.thought_opinions.select{|x| x.user_id == session[:user_id]}.length <= 0%>
                    <button id="discuss-opinion-negative" class="btn btn-danger">-</button>
                    <button id="discuss-opinion-no-sense" class="btn btn-primary">=</button>
                    <button id="discuss-opinion-positive" class="btn btn-success">+</button>
                <% end %>
            </div>
            <div id="discussing-team-opinion" class="content-center">
                <% if discussing_thought && discussing_thought.discussing == 2 %>
                    <% sum = 0 %>
                    <%  discussing_thought.thought_opinions.each do |opinion| sum += opinion.opinion %>
                    <% end %>
                    <%= sum %>
                <% end %>
            </div>
        </div>
    </div>
    <div id="board-block" class="row">

        <div id="info-board">
            <div id="meeting-info-block" class="">
                <span id="meeting-info-name"><%= @meeting.name %></span>
                <span id="meeting-status">
                    <% status = @meeting.status %>
                        <% if status == 0 %>
                            waiting submiting
                        <% elsif status == 1 %>
                            submiting
                        <% elsif status == 2 %>
                            waiting talking 
                        <% elsif status == 3 %>
                            talking
                        <% elsif status == 4 %>
                            waiting selecting
                        <% elsif status == 5 %>
                            selecting
                        <% elsif status == 6 %>
                            waiting discussing
                        <% elsif status == 7 %>
                            discussing
                        <% elsif status == 8 %>
                            ended
                        <% end %>
                </span>
            </div>
            <% if status < 8 %>
                <div id="timer-block">
                    <% if @meeting.users.first.id != session[:user_id] %>
                        <input type="text" id="timer-timebox" disabled <% if status > 5 %> style="display: none" <% end %> />
                    <% else %>
                        <input type="text" id="timer-timebox" <% if status > 5 %> style="display: none" <% end %> /><button id="timer-starter" class="btn btn-primary">Start</button>
                    <% end %>
                </div>
            <% end %>
            <div id="users-block">
                <div class="user-item-title content-center">
                    <strong>Users List</strong>
                </div>
                <div id="users-list-block">
                <% @meeting.user_meeting_relationships.each do |um| %>
                    <div id="user-<%= um.user_id %>" class="user-item-block <% if um.active %>user-active<% end %>"><%= um.user.name %></div>
                <% end %>
                </div>
            </div>
        </div>
        <div id="kpt-board">
            <div id="kp-board">
                <div id="k-board" class="kpt-board">
                    <div id="k-title" class="board-title">KEEP</div>
                    <% @meeting.thoughts.select{|x| x.ttype == 1}.each do |thought| %>
                        <div id="thought-<%= thought.id %>" class="thought-tag">
                            <div class="thought-user-name"><%= thought.user.name %></div>
                            <div class="thought-content"><%= thought.content %></div>
                            <input type="hidden" value="<%= thought.id %>"/>
                            <% if thought.user_id == session[:user_id] %>
                                <div class="thought-handler">
                                <% if @meeting.status == 1 %>
                                    <button class="btn-danger thought-delete-button">-</button>
                                <% end %>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <div id="p-board" class="kpt-board">
                    <div id="p-title" class="board-title">PROBLEAM</div>
                    <% @meeting.thoughts.select{|x| x.ttype == 2}.each do |thought| %>
                        <div id="thought-<%= thought.id %>" class="thought-tag">
                            <div class="thought-user-name"><%= thought.user.name %></div>
                            <div class="thought-content"><%= thought.content %></div>
                            <input type="hidden" value="<%= thought.id %>"/>
                            <div class="thought-pick">
                                <% if @meeting.status >= 3 %>
                                    <% thought.thought_picks.length.times do |p| %>
                                        〇
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="thought-handler">
                                <% if @meeting.status == 1 %>
                                    <button class="btn-danger thought-delete-button">-</button>
                                <% elsif @meeting.status == 5 %>
                                    <button class="btn-success thought-pick-button">+</button>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div id="t-board" class="kpt-board">
                <div id="t-title" class="board-title">TRY</div>
                <% @meeting.thoughts.select{|x| x.ttype == 3}.each do |thought| %>
                    <div id="thought-<%= thought.id %>" class="thought-tag">
                        <div class="thought-user-name"><%= thought.user.name %></div>
                        <div class="thought-content"><%= thought.content %></div>
                        <input type="hidden" value="<%= thought.id %>"/>
                        <div class="thought-pick">
                            <% if @meeting.status >= 5 %>
                                <% thought.thought_picks.length.times do |p| %>
                                    〇
                                <% end %>
                            <% end %>
                        </div>
                        <% if thought.user_id == session[:user_id] %>
                            <div class="thought-handler">
                                <% if @meeting.status == 1 %>
                                    <button class="btn-danger thought-delete-button">-</button>
                                <% elsif @meeting.status == 5 %>
                                <button class="btn-success thought-pick-button">+</button>
                            <% end %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div id="thought-text-block" class="row">
        <div class="col-md-1 content-center">
            <%= link_to "BACK", meeting_index_path, class: "btn btn-danger" %>
        </div>
        <div id="types-selector" class="col-md-1">
            <span>
            <%= radio_button_tag(:type, "1") %>
            <%= label_tag(:type_1, "Keep") %>
            </span>
            <span>
            <%= radio_button_tag(:type, "2") %>
            <%= label_tag(:type_2, "Problem") %>
            </span>
            <span>
            <%= radio_button_tag(:type, "3") %>
            <%= label_tag(:type_3, "Try") %>
            </span>
        </div>
        <div class="col-md-8 content-center">
            <% if @meeting.status == 2 %>
                <%= text_area_tag :thought, '', class: 'form-control' %>
            <% else %>
                <%= text_area_tag :thought, '', class: 'form-control', disabled: true %>
            <% end %>
        </div>
        <div class="col-md-1 content-center">
        <% if @meeting.status == 2 %>
            <button id="thought-submit-button" class="btn btn-success">Submit</button>
        <% else %>
            <button id="thought-submit-button" class="btn btn-success" disabled>Submit</button>
        <% end %>
        </div>
    </div>
</div>

<script>
    $(function() {
        let timer = null;
        let time = 0;
        App.meeting = App.cable.subscriptions.create("MeetingChannel",
        {
            connected: function () {

            },
            disconnected: function () {

            },
            received: function (responseData) {
                console.log(responseData);
                const type = responseData.type;
                const data = responseData.data;
                switch (type) {
                    case 'submit':
                        receivedSubmitRespose(data);
                        break;
                    case 'enter':
                        enterResponse(data);
                        break;
                    case 'leave':
                        leaveResponse(data);
                        break;
                    case 'timingStart':
                        timingStartResponse(data);
                        break;
                    case 'timeup':
                        timeupResponse(data);
                        break;
                    case 'delete':
                        deleteResponse(data);
                        break;
                    case 'pushTime':
                        pushTimeResponse(data);
                        break;
                    case 'pick_up':
                        pickUpResponse(data);
                        break;
                    case 'start_discuss':
                        startDiscussResponse(data);
                        break;
                    case 'discuss_time_up':
                        discussTimeUpResponse(data);
                        break;
                    case 'send_opinion':
                        sendOpinionResponse(data);
                        break;
                    case 'change_discuss_thought':
                        changeDiscussThought(data);
                        break;
                    case 'end':
                        endResponse();
                        break;
                }
            },
            submit: function (thought, type) {
                this.perform('submit', {thought: thought, type: type});
            },
            timingStart: function (second) {
                this.perform('timing_start', {second: second});
            },
            deleteThought: function(id) {
                this.perform('delete_thought', {id: id});
            },
            pushTime: function(second) {
                this.perform('push_time', {second: second});
            },
            pickThought: function (id) {
                this.perform('pick_thought', {id: id});
            },
            startDiscuss: function(second, id) {
                this.perform('start_discuss', {second: second, id: id});
            },
            sendOpinion: function(id, opinion) {
                this.perform('send_opinion', {id: id, opinion: opinion});
            },
            changeThought: function(id, status) {
                this.perform('change_discuss_thought', {id: id, status: status});
            },
            endDiscuss: function() {
                this.perform('end_discuss');
            }
        })
        $("#meeting-info-name").on('dblclick', function(){
            var tempElement = document.createElement("input");
            tempElement.setAttribute("value", '<%= @meeting.skey %>');
            document.body.append(tempElement);
            tempElement.select();
            document.execCommand("copy")
            document.body.removeChild(tempElement);
            alert("key copied");
        })
        $("#thought-submit-button").on('click', function(){
            const thought = $("#thought").val();
            const type = $("input[name='type']:checked").val();
            App.meeting.submit(thought, type)
        })
        $("#timer-starter").on('click', function (){
            let pushTime = $("#timer-timebox").val();
            App.meeting.timingStart(pushTime);
        })

        $(".thought-delete-button").each(function(){
            $(this).on('click', function(){
                deleteThought($(this).parent().parent().children("input[type='hidden']").val())
            })
        })

        $(".thought-pick-button").each(function(){
            $(this).on('click', function(){
                App.meeting.pickThought($(this).parent().parent().children("input[type='hidden']").val())
                $(this).remove();
            })
        })

        <% if discussing_thought && (discussing_thought.discussing == 1 || discussing_thought.discussing == 2) %>
            $("#start-discuss").click(function(){
                App.meeting.startDiscuss($("#discuss-time").val(), <%= discussing_thought.id %>);
            })
        <% end %>

        <% if discussing_thought && discussing_thought.discussing == 2 %>
            $("#discuss-opinion-negative").click(function(){
                sendOpinion(<%= discussing_thought.id %>, -1);
            })
            $("#discuss-opinion-no-sense").click(function(){
                sendOpinion(<%= discussing_thought.id %>, 0);
            })
            $("#discuss-opinion-positive").click(function(){
                sendOpinion(<%= discussing_thought.id %>, 1);
            })
        <% end %>

        <% if @meeting.users.first.id == session[:user_id] %>
            $("#end-discuss-button").click(function(){
                App.meeting.endDiscuss();
            })
            $("#thought-change-button").click(function(){
                App.meeting.changeThought($("#d-thought-id").val(), $("#d-thought-status").val());
            })
            $("#discussing-status-toggle").click(function(){
                data = parseInt($("#d-thought-status").val());
                if (data === 3) {
                    $("#d-thought-status").val(2);
                    $("#discussing-status-toggle").text('P');
                } else {
                    $("#d-thought-status").val(3);
                    $("#discussing-status-toggle").text('T');
                }
            })
        <% end %>

        function sendOpinion (thoughtId, opinion) {
            App.meeting.sendOpinion(thoughtId, opinion);
            $("#discussing-operations").children().each(function(){
                $(this).remove();
            })
        }

        function receivedSubmitRespose (data) {
            const type = data.thought.ttype;
            let targetElement = null;
            switch (type) {
                case 1:
                    targetElement = $("#k-board");
                    break;
                case 2:
                    targetElement = $("#p-board");
                    break;
                case 3:
                    targetElement = $("#t-board");
                    break;
            }
            if (targetElement) {
                const thoughtElement = document.createElement('div');
                $(thoughtElement).attr('id', 'thought-' + data.thought.id);
                thoughtElement.className = "thought-tag";
                const userNameDiv = document.createElement('div');
                userNameDiv.className = "thought-user-name";
                $(userNameDiv).text(data.user.name);
                const thoughtContentDiv = document.createElement('div');
                thoughtContentDiv.className = "thought-content";
                $(thoughtContentDiv).text(data.thought.content);
                thoughtIdField = document.createElement('input');
                thoughtIdField.type = 'hidden';
                $(thoughtIdField).val(data.thought.id);
                const thoughtPickDiv = document.createElement('div');
                thoughtPickDiv.className = "thought-pick";
                const thoughtHandlerDiv = document.createElement('div');
                thoughtHandlerDiv.className = "thought-handler";
                if (data.thought.user_id === <%= session[:user_id] %>) {
                    const thoughtDeleteButton = document.createElement('button');
                    thoughtDeleteButton.className = "btn-danger";
                    $(thoughtDeleteButton).text('-');
                    $(thoughtDeleteButton).on('click', function(){
                        deleteThought(data.thought.id);
                    })
                    $(thoughtHandlerDiv).append(thoughtDeleteButton);
                }
                $(thoughtElement).append(userNameDiv);
                $(thoughtElement).append(thoughtContentDiv);
                $(thoughtElement).append(thoughtIdField);
                $(thoughtElement).append(thoughtPickDiv);
                $(thoughtElement).append(thoughtHandlerDiv);
                $(targetElement).append(thoughtElement);
            }
            
        }
    
        function enterResponse(data) {
            const targetElement = $("#user-" + data.id)
            if (targetElement.length > 0) {
                $(targetElement).toggleClass('user-active', true);
            } else {
                const userItemBlock = document.createElement('div');
                $(userItemBlock).attr('id', "user-" + data.id);
                userItemBlock.className = "user-item-block user-active"
                $(userItemBlock).text(data.name);
                $("#users-list-block").append(userItemBlock)
            }

            <% if @meeting.users.first.id == session[:user_id] %>
                if (data.id !== <%= session[:user_id] %> && !!$("#timer-timebox").val()) {
                    App.meeting.pushTime($("#timer-timebox").val());
                }
            <% end %>
        }
    
        function leaveResponse(data) {
            if ($("#user-" + data).length > 0) {
                $("#user-" + data).toggleClass('user-active');
            }
        }
    
        function timingStartResponse (data) {
            clearTimeout(timer);
            if (data.second) {
                time = parseInt(data.second);
                $("#timer-timebox").val(time);
                timer = setTimeout(function() { countdown("timer-timebox"); }, 1000)
            }
            setStatus(data.status, data.thought);
        }
    
        function countdown(targetElement) {
            time -- ;
            $("#" + targetElement).val(time);
            clearTimeout(timer);
            if (time > 0) {
                timer = setTimeout(function() { countdown(targetElement); }, 1000);
            } else {
                $("#thought").attr('readonly', true);
            }
        }
    
        function timeupResponse (data) {
            setStatus(data)
            $("#thought").attr('readonly', true);
            $("#thought-submit-button").attr('disabled', true);
            $(".thought-handler").children().remove();
        }
    
        function setStatus (data, thought=null) {
            let statusText = null;
            switch(parseInt(data)) {
                case 1:
                    statusText = 'submiting';
                    startSubmit();
                    break;
                case 2:
                    statusText = 'waiting talking';
                    break;
                case 3:
                    statusText = 'talking';
                    break;
                case 4:
                    statusText = 'waiting selecting';
                    break;
                case 5:
                    statusText = 'selecting';
                    addSelectButtons();
                    break;
                case 6:
                    statusText = 'waiting discussing';
                    $("#timer-timebox").hide();
                    break;
                case 7:
                    statusText = 'discussing';
                    startDiscuss(thought);
                    break;
                case 8:
                    statusText = 'ended';
                    $("#timer-block").remove();
                    break;
                default:
                    statusText = 'discussing';
                    startDiscuss(thought);
            }
            $("#meeting-status").text(statusText);
        }

        function startSubmit() {
            $("#thought").removeAttr('disabled');
            $("#thought-submit-button").removeAttr('disabled');
        }

        function addSelectButtons () {
            $("#p-board .thought-handler").each(function(){
                const id = $(this).parent().children("input[type='hidden']").val();
                const pickButton = document.createElement('button');
                pickButton.className = "btn-success thought-pick-button";
                $(pickButton).click(function(){
                    App.meeting.pickThought(id);
                    $(this).remove();
                })
                $(pickButton).text('+');
                $(this).append(pickButton);
            })

            $("#t-board .thought-handler").each(function(){
                const id = $(this).parent().children("input[type='hidden']").val();
                const pickButton = document.createElement('button');
                pickButton.className = "btn-success thought-pick-button";
                $(pickButton).click(function(){
                    App.meeting.pickThought(id);
                    $(this).remove();
                })
                $(pickButton).text('+');
                $(this).append(pickButton);
            })
        }

        function deleteThought (id) {
            App.meeting.deleteThought(id);
        }
        function deleteResponse (id) {
            console.log(id);
            if ($("#thought-" + id).length > 0) {
                $("#thought-" + id).remove();
            }
        }

        function pushTimeResponse (data) {
            if (!$("#timer-timebox").val()) {
                time = parseInt(data);
                $("#timer-timebox").val(data);
                clearTimeout(timer);
                timer = setTimeout(function() { countdown(); }, 1000)
            }
        }

        function pickUpResponse(data) {
            $("#thought-" + data + " .thought-pick").append("〇")
        }

        function startDiscuss (thought) {
            $("#discussing-board").show();
            if (thought) {
                $("#discussing-thought-content").text(thought.thought.content);
                $("#discussing-thought-from").text(thought.user.name);
                $("#d-thought-status").val(thought.thought.ttype);
                $("#discussing-status-toggle").text(['P', 'T'][thought.thought.ttype - 2])
                $("#d-thought-id").val(thought.thought.id);
                <% if @meeting.users.first.id == session[:user_id] %>
                    $("#start-discuss").unbind("click");
                    $("#start-discuss").click(function(){
                        App.meeting.startDiscuss($("#discuss-time").val(), thought.thought.id);
                    })
                <% end %>
            }
        }

        function startDiscussResponse (data) {
            clearTimeout(timer);
            if (data) {
                time = parseInt(data);
                $("#discuss-time").val(time);
                timer = setTimeout(function() { countdown("discuss-time"); }, 1000)
            }
            removeAllChildren("discussing-operations");
            $("#discussing-team-opinion").text('');
        }

        function removeAllChildren(targetElement) {
            $("#" + targetElement).children().each(function(){
                $(this).remove();
            })
        }

        function discussTimeUpResponse(data) {
            const buttonClassNames = ["btn btn-danger", "btn btn-primary", "btn btn-success"];
            const buttonTexts = ['-', '=', '+'];
            ["discuss-opinion-negative", "discuss-opinion-no-sense", "discuss-opinion-positive"].forEach((str, index) => {
                const opinionButton = document.createElement("button");
                opinionButton.className = buttonClassNames[index];
                $(opinionButton).attr('id', str);
                $(opinionButton).text(buttonTexts[index]);
                $(opinionButton).click(function(){
                    sendOpinion(data.id, index - 1);
                    $("#discussing-operations").children().each(function(){
                        $(this).remove();
                    })
                })
                $("#discussing-operations").append(opinionButton);
             })
             $("#discussing-team-opinion").text(0);
        }

        function sendOpinionResponse(data) {
            $("#discussing-team-opinion").text(parseInt($("#discussing-team-opinion").text()) + parseInt(data.opinion))
        }

        function changeDiscussThought(data) {
            const thought = data.thought
            if (thought) {
                $("#discussing-thought-content").text(thought.thought.content);
                $("#discussing-thought-from").text(thought.user.name);
                $("#d-thought-status").val(thought.thought.ttype);
                $("#discussing-status-toggle").text(['P', 'T'][thought.thought.ttype - 2])
                $("#d-thought-id").val(thought.thought.id);
            }
        }

        function endResponse() {
            $("#discussing-board").hide();
            $("#timer-block").remove();
            setStatus(8);
        }
    })

</script>